* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

.header,
.round-info,
.btn-container,
.series-info {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 50px;
    height: 125px;
}

.header,
.series-info {
    flex-direction: column;
}

.round-info,
.btn-container {
    align-items: center;
}

.computer-choice p,
.player-choice p,
.round-result p{
    margin-bottom: 10px;
}

.round-info img {
    height: 100px;
    width: 100px;
    border: 2px black solid;
}

.btn-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-container img {
    height: 100px;
    width: 100px;
    border: 2px black solid;
}

button {
    width: 100px;
}

.header {
    border: 2px solid red;
}

.round-info {
    border: 2px solid orange;
}

.round-result {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    height: -webkit-fill-available;
}

.round-result .battlefield {
    text-decoration: underline;
    font-weight: bold;
}

.player-choice,
.computer-choice {
    text-decoration: underline;
    font-weight: bold;
}

.btn-container {
    border: 2px solid brown;
}

.series-info {
    border: 2px solid magenta;
}